.products-page {
    width: 100%;
}

.products-header {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.products-header h1 {
    font-size: 28px;

    font-weight: 600;
}

.products-header button {
    margin-right: 15px;
}

.new-product-button {
    padding: 10px 18px;

    background-color: #2563eb;
    color: white;

    border: none;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 600;

    cursor: pointer;

    transition: background-color 0.2s, transform 0.1s;
}

.new-product-button:hover {
    background-color: #851ae9;
}

.new-product-button:active {
    transform: scale(0.97);
}

.products-grid {
    display: grid;

    grid-template-columns:
        repeat(auto-fill, minmax(300px, 320px));

    gap: 20px;

    align-items: start;
}